html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}
*,
*::before,
*::after {
  box-sizing: inherit;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-cl);
  font-size: 14px;
  letter-spacing: 0.04em;

  background-image: url('../../images/background-body/backgroud_mobile.jpg');
  background-repeat: repeat-y;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;

  @media screen and (min-width: 768px) {
    background-image: url('../../images/background-body/background_tablet.jpg');
  }

  @media screen and (min-width: 1200px) {
    background-image: url('../../images/background-body/backgroud_desktop.jpg');
  }
}
