html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
  cursor: url('../cursor.png'), auto;
}

body {
  font-family: var(--main-font);
  color: var(--main-text-cl);
  font-size: 14px;
  letter-spacing: 0.04em;

  background-position: center;
  background-size: contain;
  background-attachment: fixed;

    &::-webkit-scrollbar {
      width: 0px;
    }
  
    &::-webkit-scrollbar-track {
      background-color: #dedcdc;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #ababab;
      border-radius: 8px;
      border: 2px solid #dedcdc;
    }

  background-image: url(../images/background-body/background_mobile@1x.jpg);

  @media screen and (min-device-pixel-ratio: 2),
  screen and (min-resolution: 192dpi),
  screen and (min-resolution: 2dppx) {
    background-image: url(../images/background-body/background_mobile@2x.jpg);
  }

  @media screen and (min-device-pixel-ratio: 3),
  screen and (min-resolution: 288dpi),
  screen and (min-resolution: 3dppx) {
    background-image: url(../images/background-body/background_mobile@3x.jpg);
  }

  @media screen and (min-width: 768px) {
    background-image: url(../images/background-body/background_tablet@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/background-body/background_tablet@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
      background-image: url(../images/background-body/background_tablet@3x.jpg);
    }
  }

  @media screen and (min-width: 1200px) {
    backgrouтзьnd-image: url(../images/background-body/background_desktop@1x.jpg);

    @media screen and (min-device-pixel-ratio: 2),
    screen and (min-resolution: 192dpi),
    screen and (min-resolution: 2dppx) {
      background-image: url(../images/background-body/background_desktop@2x.jpg);
    }

    @media screen and (min-device-pixel-ratio: 3),
    screen and (min-resolution: 288dpi),
    screen and (min-resolution: 3dppx) {
      background-image: url(../images/background-body/background_desktop@3x.jpg);
    }
  }
}

//  === Стилі img ===

img {
  display: block;
  max-width: 100%;
  height: auto;
}

// === модалка ===
.overlay {
  opacity: 0;
  visibility: hidden;

  position: fixed;
  top: 0;
  left: 0;

  width: 100%;
  height: 100%;

  background-color: rgba(0, 0, 0, 0.2);
  z-index: 2000;
  transition: opacity var(--timing-function);

  overflow-y: scroll;
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 3000;

  width: 280px;

  background-color: var(--secondary-text-cl);
  border: 2px solid var(--accent-bg-txt-cl);
  border-radius: var(--border-radius);
  
    &::-webkit-scrollbar {
      width: 7px;
    }
    
    &::-webkit-scrollbar-track {
      background-color: #dedcdc;
    }
  
    &::-webkit-scrollbar-thumb {
      background-color: #ababab;
      border-radius: 8px;
      border: 2px solid #dedcdc;
    }


  @media screen and (min-width: 768px) {
    width: 568px;
  }

  @media screen and (max-width: 310px) {
    width: calc(100% - 30px);
  }
}

// кнопка-svg для модальних вікон 
.close-button {
  position: absolute;
  top: 12px;
  right: 12px;

  display: flex;
  justify-content: center;
  align-items: center;

  padding: 0;
  margin: 0;
  border: none;
  border-radius: 50%;
  background-color: transparent;
  color: #131313;

  cursor: url('../cursor-pointer.png'), auto;

  transition: color var(--timing-function);

  @media screen and (min-width: 768px) {
    width: 24px;
    height: 24px;
  }

  &:hover,
  &:focus {
    color: var(--accent-bg-txt-cl)
  }
}

.close-button__icon {
  fill: currentColor;
  cursor: url('../cursor-pointer.png'), auto;
}

// === Клас для JS для виклику і появи модального вікна ===
.active {
  opacity: 1;
  visibility: visible;
}

.no-scroll {
  overflow: hidden;
}

.ice-cream {
  animation: top-to-bottom 1000ms ease 200ms both;
}

@keyframes top-to-bottom {
  0% {
    opacity: 0;
    transform: translateY(100px);
  }

  50% {
    opacity: 1;
  }

  100% {
    opacity: 1;
    transform: translateY(0);
  }
}