h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
}

// === Посилання ===

a {
  text-decoration: none;
  color: currentColor;

  &:hover,
  &:focus {
    cursor: url('../cursor-pointer.png'), auto;
  }

}

// === Стилі списку ===

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

svg {
  display: block;
  padding: 0;
  margin: 0;
}

button,
a {
  user-select: none;
}

button,
[type="button"],
[type="reset"],
[type="submit"] {
  cursor: url('../cursor-pointer.png'), auto;
}