.locations-modal {
  padding: 28px;

  @include modal(373px, 465px);

  @media screen and (min-width: 768px) {
    padding: 32px 60px;
  }
}

.locations-modal__title {
  @include SubTitle-modal(16px, 24px, 20px, 28px);
  margin-bottom: 20px;

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;
  }
}

.location-modal__frame {
  margin-bottom: 24px;

  width: 100%;

  border-radius: 10px;

  @media screen and (max-width: 767px) {
    max-width: 224px;
  }

  @media screen and (min-width: 768px) {
    margin-bottom: 32px;

    width: 448px;
    height: 260px;
  }
}

.locations-modal__link {
  @extend %button;

  display: block;
  margin-left: auto;
  margin-right: auto;

  max-width: 134px;

  @media screen and (min-width: 768px) {
    max-width: 145px;
  }
}
