//add normalized
@import './common';

//add base styles
@import './base/base';
@import './base/reset';

//add utils
@import './utils/variables';
@import './utils/placeholder';
@import './utils/mixins';
@import './utils/visually-hidden';

//add components
@import './components/header';
@import './components/nav';
@import './components/mobile-menu';
@import './components/about';
@import './components/galary';
@import './components/feedback';
@import './components/hero';
@import './components/contacts';
@import './components/advantages';
@import './components/footer';

// add modal window
@import './components/locations-modal';
@import './components/read-more-modal';
@import './components/_modal-buy';
@import './components/_modal-icecream';
@import './components/modal-franshiza'
