// === Кнопки. ===
@mixin Button($f-size, $line-h, $f-size-media, $line-h-media) {
  font-size: $f-size;
  line-height: calc($line-h / $f-size);

  @media screen and (min-width: 480px) {
    font-size: $f-size-media;
    line-height: calc($line-h-media / $f-size-media);
  }
}

// === Кнопка з бордером===
@mixin Button-border($f-size, $line-h, $f-size-media, $line-h-media) {
  font-size: $f-size;
  line-height: calc($line-h / $f-size);

  @media screen and (min-width: 480px) {
    font-size: $f-size-media;
    line-height: calc($line-h-media/ $f-size-media);
  }
}

// === Заголовки ===
@mixin Title($f-size) {
  font-size: $f-size;
  font-family: var(--secondary-font);
  letter-spacing: 0.04em;
  text-transform: uppercase;
}

// === Підзаголовки. ===
@mixin SubTitle-modal($f-size, $line-h, $f-size-media, $line-h-media) {
  font-family: var(--secondary-font);
  font-size: $f-size;
  line-height: calc ($line-h / $f-size);
  align-items: center;
  text-align: center;
  color: var(--main-text-cl);

  @media screen and (min-width: 480px) {
    font-size: $f-size-media;
    line-height: calc ($line-h-media / $f-size-media);
  }
}

// Тексти.
@mixin Text($f-size, $f-size-media) {
  font-family: var(--main-font);
  font-size: $f-size;
  letter-spacing: 0.04em;

  @media screen and (min-width: 480px) {
    font-size: $f-size-media;
  }
}

// === Міксин, який змінює позиціонування вікна модалки, коли його висота менше вьюпорту, щоб вікно не "вилазило" зверху за межі в'юпорту, а прокручувалося: ===
// Вказуємо фактичну висоту модалки в мобільній і десктопній версії

@mixin modal($height-mob, $height-desk) {
  @media screen and (max-height: ($height-mob + 30px)) and (max-width: 767px) {
    min-height: $height-mob;
    top: 15px;
    transform: translate(-50%, 0);
  }

  @media screen and (max-height: ($height-desk + 30px)) and (min-width: 768px) {
    min-height: $height-desk;
    top: 15px;
    transform: translate(-50%, 0);
  }
}
