
   <section class="about section--about">
    <div class="about__container">
    <p class="about__lable" id="made">TRADITION AND LOVE</p>
    <h2 class="about__title">HOW IT’S MADE?</h2>
    <div class="about__comunity">
    <div class="about__decoration-thumb">
      <!--<img class="about__img" src="../images/about/michael_l1@x.png" alt="a cow in the pasture">-->
       <picture class="about__picture">
        <source
          media="(min-width: 1200px)"
          srcset="./images/about/michael-l1x.png 1x,
                  ./images/about/michael-l2x.png 2x,
                  ./images/about/michael-l3x.png 3x"
          type="image/png"
        />
        <source
          media="(min-width: 768px)"
          srcset="./images/about/michael-m1x.png 1x, 
                  ./images/about/michael-m2x.png 2x, 
                  ./images/about/michael_m3@x.png 3x"
          type="image/png"
        />
        <source
          media="(max-width: 767px)"
          srcset="./images/about/michael_s1@x.png 1x, 
                  ./images/about/michael_s2@x.png 2x, 
                  ./images/about/michael_s3@x.png 3px"
          type="image/png"
        />
        <img
          class="about__img"
          src="../images/about/michael_s3@x.png"
          alt="cow"
          width="279"
          height="278"
          loading="lazy"
        />
      </picture>
      <!--<picture class="dots">
        <source
          media="(min-width:1200px )"
          srcset="
            ../images/about/ 1x,
            ./images/hero/dots-l2400x2.png 2x,
            ./images/hero/dots-l3600x3.png 3x
          "
        />
  
        <source
          media="(min-width:768px )"
          srcset="
            ./images/hero/dots-m768x1.png  1x,
            ./images/hero/dots-m1536x2.png 2x,
            ./images/hero/dots-m2304x3.png 3x
          "
        />
  
        <source
          media="(max-width:767px )"
          srcset="
            ./images/hero/dots-s320x1.png 1x,
            ./images/hero/dots-s640x2.png 2x,
            ./images/hero/dots-s960x3.png 3x
          "
        />
        <img src="../images/about/michael_s1@х.png" alt="" width="1200" />
      </picture>-->
    </div>
    <div class="about__description">
    <p class="about__text-1">Ice is a place where you will become not only a little happier, but also healthier. Health is the main value for us, and we follow it when creating our handmade desserts.</p>
    <p class="about__text-2">We use traditional recipes and 100% natural ingredients. Our products are so natural that they can be given to children from the age of three years. Sweets lovers can expect 55 types of ice cream, 15 types of coffee and 23 milkshakes.</p>
    <p class="about__text-3">This is enough to choose ice cream and coffee for any mood</p>
    <button class="about__button js-open-modal" type="button"  data-modal="3">
      Read more
      <svg class="about__toggle-icon" width="12" height="12">
        <use href="./images/icons.svg#button-arrow"></use>
      </svg>
    </button>
  </div>
</div>
  </div>
   </section>

