<section class="advantages">
    <div class="container">
        <h2 class="advantages__title visually-hidden">Advantages</h2>
        <ul class="advantages__card-set">
            <li class="advantages__item">
                <p class="advantages__count count">721</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <div class="advantages__block">
                    <p class="advantages__count count">16</p><span class="advantages__count">kg</span>
                </div>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
            <li class="advantages__item">
                <p class="advantages__count count">84</p>
                <p class="advantages__text">Aliquam ac dui vel dui vulputate consectetur. Mauris massa.</p>
            </li>
        </ul>
    </div>
</section>