<section class="contacts">
  <div class="contacts-container">
    <h2 class="visually-hidden">Contacts</h2>
    <ul class="contact__list">
      <li class="contacts-card">
        <p class="contacts-card__title">cafe</p>
        <div class="contacts-card__container">
          <p class="contacts-card__subtitle contacts-card--city">Chicago</p>
          <a
            class="contacts-card__address"
            href="https://www.google.com/maps/place/Мороженка+Херсон,+вулиця+Суворова,+17,+Херсон,+Херсонська+область,+73009/@46.6313131,32.6124057,17z/data=!4m6!3m5!1s0x40c41b83ab301011:0x1d2e4a013033ab0a!8m2!3d46.6313131!4d32.6124057!16s%2Fg%2F11jrgyr2cb?hl=ru&gl=UA"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >10340 Ridgeland Ave, Chicago Ridge, IL 60415, USA</a
          >
        </div>
        <div class="contacts-card__container">
          <div class="contacts-card__subcontainer">
            <p class="contacts-card__subtitle">Monday - Friday</p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-card__subcontainer">
            <p class="contacts-card__subtitle">Saturday - Sunday</p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="contacts-card__container">
          <a class="contacts-card__tel" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-card">
        <p class="contacts-card__title">food truck</p>
        <div class="contacts-card__container">
          <p class="contacts-card__subtitle contacts-card--city">Los Angeles</p>
          <a
            class="contacts-card__address"
            href="https://www.google.com/maps/place/Мороженка+Херсон,+вулиця+Суворова,+17,+Херсон,+Херсонська+область,+73009/@46.6313131,32.6124057,17z/data=!4m6!3m5!1s0x40c41b83ab301011:0x1d2e4a013033ab0a!8m2!3d46.6313131!4d32.6124057!16s%2Fg%2F11jrgyr2cb?hl=ru&gl=UA"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >1003 Manhattan Ave, Manhattan Beach, CA 90263, USA</a
          >
        </div>
        <div class="contacts-card__container">
          <div class="contacts-card__subcontainer">
            <p class="contacts-card__subtitle">Monday - Friday</p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-card__subcontainer">
            <p class="contacts-card__subtitle">Saturday - Sunday</p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="contacts-card__container">
          <a class="contacts-card__tel" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
      <li class="contacts-card">
        <p class="contacts-card__title">cafe</p>
        <div class="contacts-card__container">
          <p class="contacts-card__subtitle contacts-card--city">New York</p>
          <a
            class="contacts-card__address"
            href="https://www.google.com/maps/place/Мороженка+Херсон,+вулиця+Суворова,+17,+Херсон,+Херсонська+область,+73009/@46.6313131,32.6124057,17z/data=!4m6!3m5!1s0x40c41b83ab301011:0x1d2e4a013033ab0a!8m2!3d46.6313131!4d32.6124057!16s%2Fg%2F11jrgyr2cb?hl=ru&gl=UA"
            target="_blank"
            rel="noopener noreferrer nofollow"
            >726 Sterling Pl, Brooklyn, NY 11222, USA</a
          >
        </div>
        <div class="contacts-card__container">
          <div class="contacts-card__subcontainer">
            <p class="contacts-card__subtitle">Monday - Friday</p>
            <p class="contacts-card__time">06:00 AM - 10:00 PM</p>
          </div>
          <div class="contacts-card__subcontainer">
            <p class="contacts-card__subtitle">Saturday - Sunday</p>
            <p class="contacts-card__time">08:00 AM - 16:00 PM</p>
          </div>
        </div>
        <div class="contacts-card__container">
          <a class="contacts-card__tel" href="tel:+61(0)383766284"
            >+61(0) 383 766 284</a
          >
          <a class="contacts-card__mail" href="mailto:noreply@envato.com"
            >noreply@envato.com</a
          >
        </div>
      </li>
    </ul>
    <div class="contacts--button">
      <button
        class="locations-button js-open-modal"
        type="button"
        data-modal="4"
      >
        Our Locations
        <svg class="locations-button__icon" width="12" height="12">
          <use href="./images/icons.svg#button-arrow"></use>
        </svg>
      </button>
      <button
        class="franshise-button js-open-modal"
        type="button"
        data-modal="5"
      >
        Franchise
        <svg class="franshise-button__icon" width="12" height="12">
          <use href="./images/icons.svg#button-arrow"></use>
        </svg>
      </button>
    </div>
  </div>
</section>
