<section class="feedback">
  <h2 class="feedback__title visually-hidden">Our customer feedback</h2>
  <div class="feedback__container">
    <div class="swiper mySwiper">
      <div class="swiper-wrapper">
        <div class="swiper-slide">
          <div class="feedback__img-wrap">
            <img
              srcset="
                ./images/feedback/1x1.jpg 1x,
                ./images/feedback/1x2.jpg 2x,
                ./images/feedback/1x3.jpg 3x
              "
              src="./images/feedback/1x3.jpg"
              alt="customer photo"
              width="85"
              height="85"
            >
          </div>
          <div class="feedback__text-wrapper">
            <p class="feedback__text">
              I love visiting your cafe. You prepare the most delicious ice
              cream in Los Angeles! In addition, you have beautiful serving,
              cozy atmosphere and polite staff.
            </p>
          </div>
          <div class="feedback__name-wrap">
            <p class="feedback__name">Emily, Los Angeles</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="feedback__img-wrap">
            <img
              srcset="
                ./images/feedback/2x1.jpg 1x,
                ./images/feedback/2x2.jpg 2x,
                ./images/feedback/2x3.jpg 3x
              "
              src="./images/feedback/2x3.jpg"
              alt="customer photo"
              width="85"
              height="85"
            >
          </div>
          <div class="feedback__text-wrapper">
            <p class="feedback__text">
              Every day we come to you with friends after classes in college. We
              love your ice cream and casual atmosphere!
            </p>
          </div>
          <div class="feedback__name-wrap">
            <p class="feedback__name">Bryan, New-York</p>
          </div>
        </div>
        <div class="swiper-slide">
          <div class="feedback__img-wrap">
            <img
              srcset="
                ./images/feedback/3x1.jpg 1x,
                ./images/feedback/3x2.jpg 2x,
                ./images/feedback/3x3.jpg 3x
              "
              src="./images/feedback/3x3.jpg"
              alt="customer photo"
              width="85"
              height="85"
            >
          </div>
          <div class="feedback__text-wrapper">
            <p class="feedback__text">
              Ice cream is my passion! I love your chocolate hazelnut ice cream!
              And I really like the excellent service - always served politely
              and quickly!
            </p>
          </div>
          <div class="feedback__name-wrap">
            <p class="feedback__name">Diana, Chicago</p>
          </div>
        </div>
      </div>
      <div class="swiper-pagination"></div>
    </div>
  </div>
</section>
