<footer class="footer-section">
    <div class="footer-section__container">
        <div class="footer-section--positioning">
            <div class="footer-section__main-text--position">
                <p class="footer-section__main-title">homemade ice cream made</p>
                <p class="footer-section__main-text">with passion</p>
            </div>
            <div class="footer-section__socials--positioning">
                <ul class="footer-section__socials-list list">
                    <li class="footer-section__socials-item">
                        <a class="footer-section__socials-link link" href="https://github.com" target="blank"
                            rel="noopener noreferrer">
                            <svg class="footer-socials__icon" width="34" height="34">
                                <use href="./images/icons.svg#github"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-section__socials-item">
                        <a class="footer-section__socials-link link" href="https://web.telegram.org/k/" target="blank"
                            rel="noopener noreferrer">
                            <svg class="footer-socials__icon" width="34" height="34">
                                <use href="./images/icons.svg#telegram"></use>
                            </svg>
                        </a>
                    </li>
                    <li class="footer-section__socials-item">
                        <a class="footer-section__socials-link link" href="https://www.facebook.com" target="blank"
                            rel="noopener noreferrer">
                            <svg class="footer-socials__icon" width="34" height="34">
                                <use href="./images/icons.svg#facebook"></use>
                            </svg>
                        </a>
                    </li>
                </ul>
                <div class="footer-section__contact">
                    <p class="footer-section__contact-text">Feel free to contact</p>
                    <a class="footer-section__contact-number link" href="tel:+61(0)383766284">
                        +61 (0) 383 766 284
                    </a>
                </div>
            </div>
        </div>
        <div class="footer-end-text--wrap-before">
            <div class="footer-end-text--wrap">
                <p class="footer-end-text">&copy; 2022 - IceCream.</p>
                <p class="footer-end-text">All Rights Reserved.</p>
            </div>
        </div>
    </div>
</footer>