<section class="gallery">
  <h2 class="gallary__title visually-hidden">Ice cream gallary</h2>
  <div class="gallery__container">
    <div class="gallery__wrapper">
      <picture class="gallery__img-1">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallary/11200x1.jpg 1x,
            ./images/gallary/11200x2.jpg 2x,
            ./images/gallary/11200x3.jpg 3x
          "
        >
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallary/1768x1.jpg 1x,
            ./images/gallary/1768x2.jpg 2x,
            ./images/gallary/1768x3.jpg 3x
          "
        >
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallary/1280x1.jpg 1x,
            ./images/gallary/1280x2.jpg 2x,
            ./images/gallary/1280x3.jpg 3x
          "
        >
        <img src="./images/gallary/11200x1.jpg" alt="gallary" width="1013" >
      </picture>
      <picture class="gallery__img-2">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallary/21200x1.jpg 1x,
            ./images/gallary/21200x2.jpg 2x,
            ./images/gallary/21200x3.jpg 3x
          "
        >
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallary/2768x1.jpg 1x,
            ./images/gallary/2768x2.jpg 2x,
            ./images/gallary/2768x3.jpg 3x
          "
        >
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallary/2280x1.jpg 1x,
            ./images/gallary/2280x2.jpg 2x,
            ./images/gallary/2280x3.jpg 3x
          "
        >
        <img src="./images/gallary/21200x1.jpg" alt="gallary" width="1013" >
      </picture>
      <picture class="gallery__img-3">
        <source
          media="(min-width: 1200px)"
          srcset="
            ./images/gallary/31200x1.jpg 1x,
            ./images/gallary/31200x2.jpg 2x,
            ./images/gallary/31200x3.jpg 3x
          "
        >
        <source
          media="(min-width: 768px)"
          srcset="
            ./images/gallary/3768x1.jpg 1x,
            ./images/gallary/3768x2.jpg 2x,
            ./images/gallary/3768x3.jpg 3x
          "
        >
        <source
          media="(max-width: 767px)"
          srcset="
            ./images/gallary/3280x1.jpg 1x,
            ./images/gallary/3280x2.jpg 2x,
            ./images/gallary/3280x3.jpg 3x
          "
        >
        <img src="./images/gallary/31200x1.jpg" alt="gallary" width="1013" >
      </picture>
    </div>
  </div>
</section>
