<div class="overlay js-overlay-modal" data-modal="4">
  <div class="modal locations-modal">
    <h2 class="locations-modal__title">Our Locations</h2>
    <iframe
      class="location-modal__frame"
      src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d10959.238287750937!2d32.608559585680126!3d46.63052408790757!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x40c41b83ab301011%3A0x1d2e4a013033ab0a!2z0JzQvtGA0L7QttC10L3QutCwINCl0LXRgNGB0L7QvQ!5e0!3m2!1sru!2sua!4v1671749106464!5m2!1sru!2sua"
      width="224"
      height="200"
      style="border: 0"
      allowfullscreen=""
      loading="lazy"
      referrerpolicy="no-referrer-when-downgrade"
    ></iframe>
    <a
      class="locations-modal__link"
      href="https://www.google.com/maps/place/Мороженка+Херсон,+вулиця+Суворова,+17,+Херсон,+Херсонська+область,+73009/@46.6313131,32.6124057,17z/data=!4m6!3m5!1s0x40c41b83ab301011:0x1d2e4a013033ab0a!8m2!3d46.6313131!4d32.6124057!16s%2Fg%2F11jrgyr2cb?hl=ru&gl=UA"
      target="_blank"
      rel="noopener noreferrer nofollow"
    >
      Open map
    </a>
    <button class="close-button js-modal-close">
      <svg class="close-button__icon" width="20" height="20">
        <use href="./images/icons.svg#modal-close"></use>
      </svg>
    </button>
  </div>
</div>
