<!-- Mobile menu -->

<div class="menu-container js-menu-container" id="mobile-menu">
  <button class="menu-toggle js-close-menu">
    <svg class="menu-toggle__close" width="32" height="32">
      <use href="./images/icons.svg#menu-close"></use>
    </svg>
  </button>
  <a class="menu__logo link" href="./index.html">
    <picture>
      <source
        media="(min-width: 768px)"
        srcset="
          ./images/logo/logo_m@1x.png 1x,
          ./images/logo/logo_m@2x.png 2x,
          ./images/logo/logo_m@3x.png 3x
        "
      />
      <source
        media="(max-width: 767px)"
        srcset="
          ./images/logo/logo_s@1x.png 1x,
          ./images/logo/logo_s@2x.png 2x,
          ./images/logo/logo_s@3x.png 3x
        "
      />

      <img
        src="./images/logo/logo_m@1x.png"
        alt="Логотип сайту"
        loading="lazy"
      />
    </picture>
  </a>

  <ul class="mobile-menu list">
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="./index.html">Home</a>
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="./index.html#made"
        >How it’s made?</a
      >
    </li>
    <li class="mobile-menu__item">
      <a
        class="mobile-menu__link link"
        href="./index.html#products"
        target="_blank"
        >Our products</a
      >
    </li>
    <li class="mobile-menu__item">
      <a class="mobile-menu__link link" href="./index.html#contact">Contact</a>
    </li>
  </ul>

  <button type="button" class="mobile-menu__btn js-open-modal" data-modal="1">
    Buy now
    <svg class="btn__icon" width="12" height="12">
      <use href="./images/icons.svg#button-arrow"></use>
    </svg>
  </button>
</div>
