<div class="overlay js-overlay-modal" data-modal="2">
<div class="modal modal--icecream" data-modal="2">
    <button class="close-button js-modal-close">
        <svg class="close-button__icon" width="20" height="20">
            <use href="./images/icons.svg#modal-close"></use>
        </svg>
    </button>
    <b class="modal-buy__title modal-buy__title--icecream">Chololate icecream</b>
    <span class="modal__img-products modal__img-products--icecream"></span>

    <ul class="modal-grams__list">
        <li class="modal-grams__item">
            <div class="modal-grams__inner">320</div>
            <span class="modal-grams__text">kcal</span>
        </li>
        <li class="modal-grams__item">
            <div class="modal-grams__inner">4g</div>
            <span class="modal-grams__text">Prote...</span>
        </li>
        <div class="modal-grams__item">
            <div class="modal-grams__inner">8,2g</div>
            <span class="modal-grams__text">Fats</span>
        </div>
        <li class="modal-grams__item">
            <div class="modal-grams__inner">40,4g</div>
            <span class="modal-grams__text">Carbs</span>
        </li>
    </ul>

    <p class="modal__ingredients">Ingredients</p>
    
    <table class="modal-table">
        <tbody>
            <tr class="modal-table__row">
                <td class="modal-table__data">Milk</td>
                <td class="modal-table__data">100ML</td>
            </tr>
            <tr class="modal-table__row">
                <td class="modal-table__data">Belgian chocolate</td>
                <td class="modal-table__data">20g</td>
            </tr>
            <tr class="modal-table__row">
                <td class="modal-table__data">Cream</td>
                <td class="modal-table__data">150ml</td>
            </tr>
            <tr class="modal-table__row">
                <td class="modal-table__data">Cocoa powder</td>
                <td class="modal-table__data">30g</td>
            </tr>
            <tr class="modal-table__row">
                <td class="modal-table__data">Sugar</td>
                <td class="modal-table__data">40g</td>
            </tr>
            <tr class="modal-table__row">
                <td class="modal-table__data">Vanilla sugar</td>
                <td class="modal-table__data">10g</td>
            </tr>
        </tbody>
    </table>
    <form class="modal-form" name="modal_form" autocomplete="off">
        <div class="modal-form__wrapper">
            <label class="modal-form__label">
                <input class="modal-form__field inp" type="text" name="user_name" placeholder="Name" autocomplete="name"
                    minlength="5" required>
            </label>

            <label class="modal-form__label">
                <input class="modal-form__field inp" type="tel" name="user_tel" placeholder="Phone" autocomplete="tel"
                    minlength="5" required>
            </label>

            <label class="modal-form__label">
                <textarea class="modal-form__message" name="user_comment" rows="6" placeholder="Comment"></textarea>
            </label>
        </div>
        <button class="modal-form__button btnd" type="submit">Submit</button>
    </form>
</div>
</div>