<!-- <section>
    <div class="overlay js-overlay-modal"> -->
        <div class="modal modal-additional" data-modal="5">
            <h3 class="modal__title">
                Thank you for your interest in owning an Ice Cream shop
            </h3>
    
            <p class="modal_paragraph">
                Due to the overwhelming volume of franchise requests we are not accepting new franchisee applications at
                this time. Once
                the application process resumes, we will contact you for further information. Please fill out the contact
                information
                below and we will reach out for additional information. We appreciate your patience.
            </p>
            <button class="modal__btn js-modal-close" >
                <svg  width="24" height="24">
                    <use href="./images/icons.svg#modal-close"></use>
                </svg>
            </button>
    
            <form>
                <div class="group-padding" role="group">
    
                    <div class="div__modal">
                        <input class="modal__form--field" type="text" name="user_name" required id="user_name" placeholder="Name">
                    </div>
    
                    <div class="div__modal">
                        <input class="modal__form--field" type="tel" name="user_phone" required id="user_phone" placeholder="Phone">
                    </div>
    
                    <div class="div__modal">
                        <input class="modal__form--field" type="email" name="user_email" required id="user_email"
                            placeholder="Email">
                    </div>
    
                    <textarea class="modal__form--message" name="user_message" required id="user_message" rows="6"
                        placeholder="Comment"></textarea>
                </div>
    
                <button class="modal__btn--form js-modal-close" type="submit">Submit</button>
            </form>
        </div>
    <!-- </div>
</section> -->