<section class="product">
    <div class="product__container">
        <p class="product__label" id="products">100% natural</p>
        <h2 class="product__title">products</h2>
        <ul class="card-set">
            <li class="card-set__item">
                <div class="counter">            
                    <h3 class="card-set__title" >ice cream</h3>
                    <p class="card-set__text" >Soft ice cream with a delicate taste. Made with milk, cream, sugar and natural stabilizer</p>
                    <button class="card-set__btn js-open-modal" type="submit" data-modal="2">
                        <svg width="40px" height="16px">
                            <use class="svg" href="./images/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="card-set__item">
                <div class="counter">
                    <h3 class="card-set__title">ice coffee</h3>
                    <p class="card-set__text" >Fragrant invigorating drink created from 100% natural ingredients without the use of preservatives and flavor enhancers</p>
                    <button class="card-set__btn js-open-modal" type="submit" data-modal="6">
                        <svg width="40px" height="16px">
                            <use class="svg" href="./images/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
            <li class="card-set__item">
                <div class="counter">
                    <h3 class="card-set__title" >milkshakes</h3>
                    <p class="card-set__text" >Sweet drinks based on milk and ice cream, supplemented with syrups, fruits, berries and other sweets of your choice</p>
                    <button class="card-set__btn js-open-modal" type="submit" data-modal="7">
                        <svg width="40px" height="16px">
                            <use class="svg" href="./images/icons.svg#arrow"></use>
                        </svg>
                    </button>
                </div>
            </li>
        </ul>
    </div>
</section>