<div class="overlay js-overlay-modal" data-modal="3">
  <div class="modal read-more-modal" data-modal="3">
    <h2 class="read-more-modal__title">How it’s made?</h2>
    <div class="read-more-modal__container">
      <div class="read-more-modal__video" id="player"></div>
      <div
        class="read-more-modal__to-play"
        data-id="player"
        data-video="_Zt1EuIEhvw"
      >
        <svg class="read-more-modal__icon" width="70" height="70">
          <use href="./images/icons.svg#play"></use>
        </svg>
      </div>
    </div>
    <p class="read-more-modal__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <button class="close-button js-modal-close">
      <svg class="close-button__icon" width="20" height="20">
        <use href="./images/icons.svg#modal-close"></use>
      </svg>
    </button>
  </div>
</div>
