<div class="overlay js-overlay-modal" data-modal="3">
  <div class="modal read-more-modal" data-modal="3">
    <h2 class="read-more-modal__title">How it’s made?</h2>
    <iframe
      class="read-more-modal__video"
      width="560"
      height="315"
      src="https://www.youtube.com/embed/_Zt1EuIEhvw"
      title="YouTube video player"  
      style="border: 0"
      allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
      allowfullscreen
      loading="lazy"
    ></iframe>
    <p class="read-more-modal__description">
      Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod
      tempor incididunt ut labore et Lorem ipsum dolor sit amet, consectetur
      adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    </p>
    <button class="close-button js-modal-close">
      <svg class="close-button__icon" width="20" height="20">
        <use href="./images/icons.svg#modal-close"></use>
      </svg>
    </button>
  </div>
</div>
