.header {
    background-color: var(--main-bg-cl);
    
    @media screen and (min-width: 1200px) {
        // display: flex;
        // align-items: center;
        // padding-left: 16px;
        align-items: center;
        height: 65px;
    }
}
.header__container {
    @extend %container;
    
    display: flex;
    padding-top: 12px;
    padding-bottom: 0;
    margin: 0;
    

    @media screen and (min-width: 768px) {
        padding-top: 20px;
        
    }
    @media screen and (min-width: 1200px) {
        display: flex;
        align-items: center;
              
        padding-top: 8px;
        height: 65px;
    }
}
.header__nav {
    display: none;
    @media screen and (min-width: 1200px) {
    display: flex;
    align-items: baseline;
    margin-left: auto;
    padding-top: 20px;
    height: 100%;
    }
}



.header__btn {
    display: none;

    @media screen and (min-width: 768px) {
        display: flex;
        gap: 4px;
        align-items: center;
        text-align: center;

        padding-top: 12px;
        padding-right: 36px;
        padding-bottom: 12px;
        padding-left: 36px;


        font-style: normal;
        font-weight: 600;
        font-size: 14px;
        line-height: 1.21;
        align-items: center;
        text-align: center;
        cursor: pointer;

        color:  #000000;
        background: var(--accent-bg-txt-cl);
        border: 0;
        border-radius: 10px;

        transition: color var(--timing-function), background var(--timing-function);

        &:hover {
            background: #0A8817;
        }

        &:focus {
            background: #0A8817;
            color: #FFFFFF;
        }
    }

    @media screen and (min-width: 1200px) {
        margin-bottom: 0;
        
    }
}

