.link {
  text-decoration: none;
  font-style: normal;
}

.hero__section {
  padding-top: 50px;

  background-color: var(--main-bg-cl);

  @media screen and (min-width: 768px) {
    padding-top: 14px;
  }

  @media screen and (min-width: 1200px) {
    padding-top: 45px;
  }
}

.hero__container {
  @extend %container;
  position: relative;
  height: 420px;

  @media screen and (min-width: 768px) {
    height: 349px;
  }

  @media screen and (min-width: 1200px) {
    height: 538px;
  }
}

.hero__home {
  display: flex;
  justify-content: space-between;
}

.hero__title {
  display: block;

  font-family: 'Seymour One';
  font-weight: 400;
  font-size: 26px;
  line-height: 1.26;
  letter-spacing: 0.04em;
  text-transform: uppercase;

  color: var(--secondary-text-cl);

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.26;
    letter-spacing: 0.04em;
  }
}

.hero__accent {
  font-family: 'Seymour One';
  font-style: normal;
  font-weight: 400;
  font-size: 34px;
  line-height: 96.5%;

  text-transform: uppercase;

  color: var(--secondary-text-cl);

  @media screen and (min-width: 1200px) {
    font-size: 38px;
    line-height: 1.26;
    letter-spacing: 0.04em;
  }
}

.hero__btn {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;

  width: 108px;
  height: 38px;

  font-style: normal;
  font-weight: 600;
  font-size: 12px;
  line-height: 1.25;

  color: #000000;

  left: 0px;
  top: 0px;

  cursor: pointer;

  border: 2px solid var(--accent-bg-txt-cl);
  border-radius: 10px;

  @media screen and (min-width: 768px) {
    font-size: 12px;
    line-height: 1.25;
  }

  @media screen and (min-width: 1200px) {
    width: 134px;
    height: 42px;

    font-size: 14px;
    line-height: 1.28;

    color: var(--main-text-cl);
  }

  &:hover {
    border: 2px solid #0a8817;
  }

  &:focus {
    color: #fcfcfc;
    border: 2px solid #f8d24e;
  }
}

.hero__link {
  display: flex;
  align-items: center;
  text-align: center;

  font-weight: 600;
  font-size: 14px;
  line-height: 1.21;

  text-decoration-line: underline;
  color: var(--accent-bg-txt-cl);

  &:hover {
    color: #0a8817;
  }

  &:focus {
    color: #fcfcfc;
  }
}

.hero__menu {
  display: flex;
  align-items: center;
  gap: 12px;
  margin-top: 32px;

  @media screen and (min-width: 768px) {
    margin-top: 24px;
  }

  @media screen and (min-width: 1200px) {
    margin-top: 28px;
  }
}

.hero__text {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    text-align: right;

    font-weight: 400;
    font-size: 8px;
    line-height: 1.25;

    color: var(--secondary-text-cl);
  }

  @media screen and (min-width: 1200px) {
    margin-top: 4px;

    font-size: 14px;
    line-height: 1.21;
  }
}

.hero__numbers {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    text-align: right;
    font-weight: 900;
    font-size: 28px;
    line-height: 1.21;
    letter-spacing: 0.04em;
    text-transform: uppercase;

    color: var(--main-text-cl);
  }

  @media screen and (min-width: 1200px) {
    margin-bottom: 4px;

    font-size: 46px;
    line-height: 1.21;
  }
}

.menu__item {
  z-index: 5;
}

.mb {
  margin-bottom: 16px;
}

.dots {
  position: absolute;
  z-index: 1;

  bottom: 0;
  left: 0;
}

.ice-cream {
  position: absolute;
  z-index: 2;

  bottom: 0;
  left: 29%;

  @media screen and (min-width: 480px) {
    left: 29%;
  }

  @media screen and (min-width: 768px) {
    left: 53%;
  }
}

.plate {
  display: none;
  z-index: 3;
  animation: rotate-center 6s linear infinite both;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;
    left: 5%;
    bottom: 4%;
  }

  @media screen and (min-width: 1200px) {
    left: 2%;
    bottom: 12%;
  }
}

.subtitle__conteiner {
  position: relative;
}

.hero__subtitle {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;

    margin-left: 216px;
    margin-top: 39px;

    font-weight: 400;
    font-size: 12px;
    line-height: 140%;

    width: 150px;
    height: 85px;

    color: var(--secondary-text-cl);
  }

  @media screen and (min-width: 1200px) {
    margin-left: 257px;
    margin-top: 110px;

    width: 200px;

    font-weight: 400;
    font-size: 14px;
    line-height: 140%;
  }
}

.subtitle__icon {
  display: none;

  @media screen and (min-width: 768px) {
    display: block;
    position: absolute;

    left: 31%;
    top: 120;

    width: 50px;

    fill: var(--secondary-text-cl);
  }

  @media screen and (min-width: 1200px) {
    left: 22%;
  }
}

@keyframes rotate-center {
  0% {
    transform: rotate(0);
  }

  100% {
    transform: rotate(360deg);
  }
}