// MODAL-WINDOW-ICECREAM
.modal__ingredients {
    margin-bottom: 24px;

    color: #131313;

    font-weight: 500;
    font-size: 20px;
    line-height: 28px;
}

.modal__img-products {
    position: relative;
    display: block;
    width: 132px;
    height: 132px;
    margin: 0 auto;
    margin-bottom: 30px;

    border-radius: 50%;
    background-size: contain;
    background-repeat: no-repeat;
    @media screen and (min-width: 768px) {
        margin-bottom: 32px;
    }

    &::before {
        content: "";
        position: absolute;
        z-index: -1;
        bottom: -10px;
        left: 0;

        height: 100%;
        width: 100%;

        border-radius: 50%;
        background: #9CBE8F;
        box-shadow: 0px 5.26027px 19.726px rgba(10, 136, 23, 0.25);
    }
    &--icecream {
        background-color: #9CBE8F;
        background-image: url(../images/modal-window/ice-cream/ice_small@1x.png);
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../images/modal-window/ice-cream/ice_small@2x.png);
            }
        
            @media screen and (min-device-pixel-ratio: 3),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
                background-image: url(../images/modal-window/ice-cream/ice_small@3x.png);
            }
    }
}
.modal__img--icecoffee {
        background: rgb(248, 210, 78);
        background-size: contain;
        background-image: url(../images/modal-window/modal-buy/2_small@1x.png);
        @media screen and (min-device-pixel-ratio: 2),
            screen and (min-resolution: 192dpi),
            screen and (min-resolution: 2dppx) {
                background-image: url(../images/modal-window/modal-buy/2_small@2x.png);
            }
        
            @media screen and (min-device-pixel-ratio: 3),
            screen and (min-resolution: 288dpi),
            screen and (min-resolution: 3dppx) {
                background-image: url(../images/modal-window/modal-buy/2_small@3x.png);
            }
    &::before {
        content: "";
        background: rgba(248, 210, 78, 0.7);
        box-shadow: 0px 5.26027px 19.726px rgba(153, 114, 23, 0.3);
    }
}
.modal__img--milkshake {
    background: rgb(213, 117, 63);
    background-size: contain;
    background-image: url(../images/modal-window/modal-buy/3_small@1x.png);
    @media screen and (min-device-pixel-ratio: 2),
        screen and (min-resolution: 192dpi),
        screen and (min-resolution: 2dppx) {
        background-image: url(../images/modal-window/modal-buy/3_small@2x.png);
        }
    
        @media screen and (min-device-pixel-ratio: 3),
        screen and (min-resolution: 288dpi),
        screen and (min-resolution: 3dppx) {
        background-image: url(../images/modal-window/modal-buy/3_small@3x.png);
        }
    &::before {
        content: "";
        background: rgba(213, 117, 63, 0.7);
        box-shadow: 0px 5.26027px 19.726px rgba(213, 117, 63, 0.3);
    }
}

.modal-grams__list {
    display: flex;
    gap: 9px;
    margin-bottom: 40px;
    justify-content: center;

    @media screen and (min-width: 768px) {
        margin-bottom: 48px;
    }
}

.modal-grams__item {
    position: relative;

    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    min-width: 53px;
    height: 72px;

    border: 2px solid #9CBE8F;
    border-radius: 40px;

    font-size: 10px;
    line-height: calc(12 / 10);
    transition: background-color var(--timing-function), box-shadow 600ms cubic-bezier(0.4, 0, 0.2, 1);

    &:hover {
        background-color: rgba(156, 190, 143, 0.8);
        box-shadow: 0px 5.26027px 19.726px rgba(156, 190, 143, 0.8);
    }
    &--icecoffee {
        border: 2px solid #EFD478; 
    }
    &--icecoffee:hover {
        background-color: rgba(248, 210, 78, 0.5);
        box-shadow: 0px 5.26027px 19.726px rgba(248, 210, 78, 0.8);
    }
    &--milkshake {
        border: 2px solid #D6936D;
    }
    &--milkshake:hover {
            background-color: rgba(213, 117, 63, 0.5);
            box-shadow: 0px 5.26027px 19.726px rgba(213, 117, 63, 0.8);
        }
}

.modal-grams__text {
    margin-bottom: 8px;

    color: #131313;

    font-size: 10px;
    line-height: calc(12 / 10);
}

.modal-grams__inner {
    position: absolute;
    top: 0;
    left: 0;
    transform: translate(7%, -1%);

    display: flex;
    justify-content: center;
    align-items: center;
    width: 43px;
    height: 43px;

    color: #131313;
    background: #9CBE8F;
    border: 2px solid #9CBE8F;
    border-radius: 50%;
    box-shadow: 0px 6px 20px rgba(10, 136, 23, 0.25);

    font-weight: 500;
    font-size: 10px;
    line-height: calc(28 / 10);

    &--icecoffee {
        background-color: #EFD478;
        border: 2px solid #EFD478;
        box-shadow: 0px 6px 20px rgba(248, 210, 78, 0.25);
    }
    &--milkshake {
        background-color: #D6936D;
        border: 2px solid #D6936D;
        box-shadow: 0px 6px 20px rgba(213, 117, 63, 0.25);
    }
}

.modal-table {
    width: 100%;
    margin-bottom: 40px;

    @media screen and (min-width: 768px) {
        margin-bottom: 48px;
        max-width: 488px;
        margin-left: auto;
        margin-right: auto;
    }
}

.modal-table__row {
    display: flex;
    justify-content: space-between;

    font-size: 14px;
    line-height: 176%;
    letter-spacing: 0.04em;

    &:not(:last-child) {
        margin-bottom: 11px;
    }
}