.modal-additional {
    padding-bottom: 32px;

    transition: opacity var(--timing-function);

    @include modal(726px, 692px);

    @media screen and (max-width: 767px) {
        min-height: 674px;
        padding-bottom: 28px;
    }
}


.modal__title {
    font-family: 'Seymour One';
    font-size: 20px;
    line-height: 1.4;

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: var(--main-text-cl);

    margin-top: 32px;
    margin-bottom: 24px;
    margin: 32px 123px 24px 123px;

    @media screen and (max-width: 767px) {

        font-size: 16px;
        line-height: 1.5;

        margin-top: 28px;
        margin-left: 29px;
        margin-right: 30px;
    }
}

.modal_paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 1.38;

    color: var(--main-text-cl);
    text-align: left;

    margin: 0 60px 32px 60px;

    @media screen and (max-width: 767px) {

        font-size: 14px;
        line-height: 1.43;
        text-align: left;
        margin: 24px;
    }
}

.div__modal {
    position: relative;
    margin-bottom: 16px;
    margin-left: auto;
    margin-right: auto;

    @media screen and (max-width: 767px) {
        margin-bottom: 12px;

    }
}

.modal__form--field {
    width: 368px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;

    color: #131313;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--main-bg-cl);
    border-radius: 10px;
    cursor: url('../cursor-pointer.png'), auto;

    margin-left: 100px;
    padding-left: 16px;


    &:focus {

        border-radius: 10px;
        outline: 1px solid transparent;
    }

    @media screen and (max-width: 767px) {
        width: 224px;
        height: 32px;
        margin-left: 28px;
    }
}

.modal__form--field:not(:placeholder-shown):invalid:required {
    outline-color: #ff000080;
    box-shadow: 0 0 0 5px #ff00004d;
}

.modal__form--field:not(:placeholder-shown):valid:required {
    outline-color: #00ff0080;
    box-shadow: 0 0 0 5px #00ff004d;
}
    


.modal__form--message {
    width: 368px;
    height: 84px;
    resize: none;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.43;

    color: var(--main-text-cl);
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid var(--main-bg-cl);
    border-radius: 10px;
    margin-left: 100px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 11px;

    &:focus {

        border-radius: 10px;
        outline: 1px solid transparent;
    }

    @media screen and (max-width: 767px) {
        width: 224px;
        height: 64px;
        margin-left: 28px;
        margin-bottom: 24px;
    }
}



.modal__btn--form {
    @extend %button;
    font-weight: 600;
    font-size: 14px;
    line-height: 1.21;
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: var(--main-text-cl);

    display: block;
    width: 121px;
    cursor: url('../cursor-pointer.png'), auto;
    border: none;
}
