
.modal-additional {
    // display: block;
    // position: absolute;
    // top: 50%;
    // left: 50%;
    // padding: 32px 60px;
    
    padding-bottom: 32px;
    
     transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
    
    @include modal(726px, 692px);

    @media screen and (max-width: 767px) {
            min-height: 674px;
            padding-bottom: 28px;
    }
}


.modal__title {
    font-family: 'Seymour One';
    font-style: normal;
    font-weight: 400;
    font-size: 20px;
    line-height: calc(28/20);

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

    color: #131313;

    margin-top: 32px;
    margin-bottom: 24px;
    margin: 32px 123px 24px 123px;

     @media screen and (max-width: 767px) {
            
        font-size: 16px;
        line-height: calc(24/16);
        
        margin-top: 28px;
        margin-left: 29px;
        margin-right: 30px;
        
        }

}

.modal_paragraph {
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: calc(22/16);

    color: #131313;
    text-align: left;
    
    margin: 0 60px 32px 60px;

     @media screen and (max-width: 767px) {
    
        font-size: 14px;
        line-height: calc(20/14);
        text-align: left;
        margin: 24px;
        }
}

// .modal__btn {
//     position: absolute;
//     top: 8px;
//     right: 8px;
//     padding: 0;
//     display: inline-flex;
//     align-items: center;
//     justify-content: center;
    
//     cursor: pointer;
//     border: transparent;

//     width: 24px;
//     height: 24px;
//     background-color: #ffffff;
    

// }

// .modal__btn {
//     fill: #131313;
// }


.div__modal {
    position: relative;
    margin-bottom: 16px;
        margin-left: auto;
            margin-right: auto;

    @media screen and (max-width: 767px) {
    margin-bottom: 12px;

    }
}

.modal__form--field {
    width: 368px;
    height: 42px;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20/14);

    color: #131313;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    cursor: pointer;

    margin-left: 100px;
    padding-left: 16px; 


     &:focus {
        
        border-radius: 10px;
        outline: 1px solid transparent;
    }

    @media screen and (max-width: 767px) {
        width: 224px;
        height: 32px;
        margin-left: 28px;
    }



}


.modal__form--message {
    width: 368px;
    height: 84px;
    resize: none;
    font-weight: 400;
    font-size: 14px;
    line-height: calc(20/14);

    color: #131313;
    background: rgba(248, 210, 78, 0.1);
    border: 1px solid #84A178;
    border-radius: 10px;
    margin-left: 100px;
    margin-bottom: 32px;
    padding-left: 16px;
    padding-top: 11px;

     &:focus {
        
        border-radius: 10px;
        outline: 1px solid transparent;
    }

     @media screen and (max-width: 767px) {
        width: 224px;
        height: 64px;
        margin-left: 28px;
        margin-bottom: 24px;
    }
}

.modal__btn--form {
    @extend %button;
    font-weight: 600;
    font-size: 14px;
    line-height: calc(17/14);
    display: flex;
    align-items: center;
    text-align: center;
    margin-right: auto;
    margin-left: auto;
    color: #131313;

    display: block;
    // margin: 0 auto;
    width: 121px;
    // height: 42px;
    cursor: pointer;
    // background: #F8D24E;
    // border-radius: 10px;
    border: none;
}

